*{

}

.page-wrapper{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.page-wrapper.all-centered{
    justify-content: center;
    align-item:center;

}
.box{
    width:
    height:
    background-color: grey;
}